*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  
}

header{
    padding-top: 16px;
    background-color: #FFFFFF;
    
}

nav .btn .btn{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    align-items: center;
}

nav{
    width: 66%;
    max-width: 1057px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
   
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    align-items: center;
    

}

#banner{
    
    /* background-image: url('../assets/hero-bg.png'); */
    /* max-width: 1600px; */
    /* width: 1600px;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */

    
    min-height: 100vh; 
    background:  url('../assets/hero-bg.png'),#001931;
    background-size: cover;
    background-position: center;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    vertical-align: middle;
}

.banner-container{
    width: 1360px;
    height: 379px;
    padding: 70px 179px 120px 120px;
}

.banner-container .btnn{
   font-size: 16px;
   color: #469165;
   padding: 8px 12px ;
   background-color: #FFFFFF;
   border-radius: 1000px;
   gap: 6px;
   max-width: 229px;
   height: 35px;
   list-style-type: none;
   margin-bottom: 16px;
   border: none;
}

#banner .heading{
    /* width: 770px;
    height: 168px; */
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    margin-bottom: 16px;
    
}

#banner .heading .highlight-text{
    color: #30B868;
}

#banner .description{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    margin-bottom: 32px;
    text-align: center;
}

.button .btn1{
    font-size: 16px;
    background-color: #469165;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 4px;
    padding: 16px;
    width: 251px;
    height: 52px;
    text-align: left;
    border: none;
    margin-right: 16px;

}

.button .btn2{
    font-size: 16px;
    color: #FFFFFF;
    gap: 10px;
    border-radius: 4px;
    padding: 12px 16px;
    width: 198px;
    height: 52px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-sizing: border-box;
    background-color: transparent;
    align-items: center;
   
}

#structure .structure-container{
    max-width: 1360px;
    padding: 0 120px;
    margin: 0 auto;
   text-align: center;
  
}

#structure .structure-container .heading{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 50px;
    /* background-color: #FFFFFF; */
}

#structure .structure-container .heading  .heading-container{
    /* margin-bottom: 44px; */
    font-size: 16px;
    color: #627382;
   
}

.box-section .box { 
    display: flex;
    gap: 16px;
    padding: 44px 120px 120px 120px;
    
}

.box .card{
    padding: 24px;
    margin: 0 auto;
    box-shadow: 0 0 8px 0 #00000012;
    max-width: 322px;
    height: 300px;
    border-radius: 8px;
    text-align: center;
    
}

.box .card img{
    max-width: 60px;
    padding: 10px 10px ;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;
}

.box .card h3{
    max-width: 274px;
    font-size: 24px;
    font-weight:500px;
    color: #001931;
    margin-bottom: 16px;
}

.box .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#solution .container{
    max-width: 1360px;
    display: flex;
    padding: 0 120px 120px 120px;
    gap: 60px;
}

#solution .container .image{
    max-width: 600px;
    border-radius: 12px;
}
