*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  
}

header{
    padding-top: 16px;
    background-color: #FFFFFF;
    
}

nav .btn .btn{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    align-items: center;
}

nav{
    width: 66%;
    max-width: 1057px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
   
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    align-items: center;
    

}

*{
    margin: 0;
    padding: 0;
}
#banner{
    background-image: url(../assets/hero-bg.png);
    /* max-width: 1600px; */
    width: 100%;
    height: 674px;
    background-color: #FFFFFF;
    background-size: cover;
    display: flex;
    align-items: center;
}

#banner .banner-container{
    max-width: 1360px;
    height: 379px;
    margin: 0 auto;
    text-align: center;
    
}

.banner-container .btn3{
    font-size: 16px;
    color: #469165;
    padding: 8px 34px 12px;
    border-radius: 1000px;
    margin-bottom: 16px;
    background-color: #FFFFFF;
    border: none;
}
.banner-container h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 16px;

}
.for-color{
    color: #30B868;
}

.banner-container p{
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.btn .btn1{
    margin-right: 16px;
}
.btn1 , .btn2{
    font-size: 16px;
    padding: 16px;
    color: #FFFFFF;
    background-color: #469165;
    border-radius: 4px;
    border: none;
}

.btn2{
    background-color: transparent;
    border: 1px solid white;
    box-sizing: border-box;
}

#structure .structure-container{
    max-width: 1360px;
    padding: 0 120px;
    margin: 0 auto;
   text-align: center;
  
}

#structure .structure-container .heading{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    margin-top: 50px;
    /* background-color: #FFFFFF; */
}

#structure .structure-container .heading  .heading-container{
    /* margin-bottom: 44px; */
    font-size: 16px;
    color: #627382;
   
}

.box-section .box { 
    display: flex;
    gap: 16px;
    padding: 44px 120px 120px 120px;
   
}

.box .card{
    padding: 24px;
    margin: 0 auto;
    box-shadow: 0 0 8px 0 #00000012;
    max-width: 322px;
    height: 300px;
    border-radius: 8px;
    text-align: center;
    
}

.box .card img{
    max-width: 60px;
    padding: 10px 10px ;
    background-color: #F95555;
    border-radius: 50%;
    margin-bottom: 16px;
}

.box .card h3{
    max-width: 274px;
    font-size: 24px;
    font-weight:500px;
    color: #001931;
    margin-bottom: 16px;
}

.box .card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#solution .container{
    max-width: 1360px;
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 120px 120px 120px;
    
}

#solution .container .image{
    max-width: 600px;
    border-radius: 12px;
}

#solution .container .content{
    max-width: 700px;
    padding: 120px 60px 0;
}

 .content .headline{
    font-size: 16px;
    color: #469165;
    margin-bottom: 16px;
}

.content h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #001931;
}

.content .paragraph{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.ul-container .design{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    display: flex;
    align-items: flex-start;
    gap: 6px;
}
.ul-container .design img{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

#home {
    max-width: 1360px;
    padding: 0px 120px 120px 120px;
    margin: 0 auto;
}

.hone-container{
    text-align: center;
    padding: 80px 40px;
    background-color: #F7F6F2;
    
}

.hone-container h2{
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

.hone-container p{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    margin-bottom: 24px;
}
.hone-container button{
    font-size: 16px;
    color: #FFFFFF;
    padding: 16px;
    background-color: #469165;
    border-radius: 4px;
    border: none;
    width: 194px;
    height: 52px;
    margin-bottom: 16px;
}

.hone-container.paragraph2{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}


