*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  
}

header{
    padding-top: 16px;
    background-color: #FFFFFF;
    
}

nav .btn .btn{
    background-color: #469165;
    border: none;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600px;
    color: #FFFFFF;
    align-items: center;
}

nav{
    width: 66%;
    max-width: 1057px;
    /* border: 1px solid red; */
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu{
    display: flex;
    list-style-type: none;
    gap: 32px;
    align-items: center;
}

nav .menu a{
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    align-items: center;

}

#banner{
    
    /* background-image: url('../assets/hero-bg.png'); */
    /* max-width: 1600px; */
    /* width: 1600px;
    height: 674px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */

    
    min-height: 100vh; 
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;

    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    vertical-align: middle;
}

.banner-container{
    width: 1360px;
    height: 379px;
    padding: 70px 179px 120px 120px;
}

.banner-container .btnn{
   font-size: 16px;
   color: #469165;
   padding: 8px 12px ;
   background-color: #FFFFFF;
   border-radius: 1000px;
   gap: 6px;
   max-width: 229px;
   height: 35px;
   list-style-type: none;
   padding-bottom: 16px;
}

#banner .heading{
    /* width: 770px;
    height: 168px; */
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    text-align: center;
    padding-bottom: 16px;
    
}

#banner .heading .highlight-text{
    color: #30B868;
}

#banner .description{
    font-size: 18px;
    color: #FFFFFF;
    line-height: 24px;
    padding-bottom: 32px;
    text-align: center;
}